<!DOCTYPE html>
<html>
<head>
  <title>Todoaccount</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless user_signed_in? %>
<%= link_to "登入", new_user_session_path %>
<%= link_to "註冊", new_user_registration_path %>
<% end %>

<%= link_to "登出", destroy_user_session_path,method:'delete' %>
<%= link_to "Home", root_path%>
<%= link_to "Group", groups_path%>
<%= yield %>

</body>
</html>
